# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PiCode/build/CMakeFiles/
PiCode/build/.settings/org.eclipse.core.resources.prefs
*.class
JavaCode/.idea
JavaCode/JavaCode.iml

